body {
  line-height: 1.5;
}

.kinout {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
  color: #fefefe;
  background-color: #2e8f65;
}

.kinout header,
.kinout footer {
  font-weight: 200;
}

.kinout header h1,
.kinout footer h1,
.kinout header h2,
.kinout footer h2,
.kinout header h3,
.kinout footer h3,
.kinout header h4,
.kinout footer h4,
.kinout header h5,
.kinout footer h5 {
  font-size: 20px;
  color: #f1f1f1;
}

.kinout header p,
.kinout footer p {
  font-size: 16px;
}

.kinout header a,
.kinout footer a {
  color: #ffcb21;
}

.kinout mark,
.kinout em {
  color: #ffc507;
}

.kinout progress span {
  background: #ffc507;
}

.kinout h1,
.kinout h2,
.kinout h3,
.kinout h4,
.kinout h5,
.kinout h6 {
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.5);
}

.kinout p {
  font-size: 18px;
  font-weight: 200;
}

.kinout hr {
  height: 12px;
  border: none;
}

.kinout .box.white {
  color: #fefefe;
}

.kinout a {
  color: #ffffff;
}

.kinout a:hover,
.kinout a:active {
  color: #fefefe;
}

.kinout .box {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.kinout .bordered {
  border: solid 8px #fefefe;
}

.kinout .slide-title,
.kinout .sub-slide-title {
  position: relative;
  margin-top: 0;
  font-size: 16px;
  font-weight: 200;
  color: #f1f1f1;
}

.kinout .copyright {
  display: none;
  font-family: 'Comfortaa';
}

.kinout pre {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
