
.kirbout {

  background-color: @bgcolor;

  & progress span {
    background: @orange;
  }

  /*
   * Typpgraphy ------------------------------------------------------|
   */

  color: @white;
  font-family: @defaultFont;

  /*
   * header, footer --------------------------------------------------|
   */

  & header,
  & footer {
    font-weight: 200;
    & h1,
    & h2,
    & h3,
    & h4,
    & h5 {
      font-size: 20px;
      color: darken(@white, 5%);
      .text-shadow(0px 1px 0px rgba(0,0,0,0.5));
    }
    p {
      font-size: 16px;
    }
    a {
      color: lighten(@orange, 5%);
    }
  }

  /*
   * common ----------------------------------------------------------|
   */

  a {
    text-decoration: none;
    color: @white;
    &:hover, &:active {
      color: darken(@white, 6%);
    }
    &:active {
      color: darken(@white, 2%);
    }
  }

  h1, h2, h3, h4, h5 {
      margin: 0px;
      padding: 0px;
      letter-spacing: -0.06em;
      font-weight: 700;
      line-height: 1.1;
      .text-shadow(2px 3px 0px rgba(0,0,0,0.5));
  }

  h6 {
      margin: 0px;
      padding: 0px;
      letter-spacing: -0.04em;
      font-weight: 400;
      line-height: 1;
      .text-shadow(1px 2px 0px rgba(0,0,0,0.5));
  }

  h1 {
      margin-top: 18%;
      font-size: 6em;
  }
  h2 { font-size: 5em; }
  h3 { font-size: 4em; }
  h4 { font-size: 3em; }
  h5 { font-size: 2em; }
  h6 { font-size: 2em; }

  p {
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    font-size: 19px;
    line-height: 1.5;
  }

  & mark,
  & em {
    font-style: normal;
    color: @orange;
  }

  ol {
      list-style: decimal;
      list-style-position: inside;
  }

  li { line-height: 1.2; }

  // Source Code

  pre {
    text-align: left;
    font-size: 14px;
    font-family: @monoFont;
    line-height: 150%;
    word-wrap: break-word;
    color: @white;
    background-color: @black;
    .border-radius(4px);
    .box-shadow(0px 4px 8px rgba(0,0,0,0.5));
  }

  hr {
    height: 12px;
    border: none;
  }

  & .box.white { color: @white; }
  & .box { .box-shadow(0px 4px 8px rgba(0,0,0,0.5)); }
  & .bordered {
    border: solid 8px @white;
  }

  .copyright {
    display: none;
    position: absolute;
    bottom: 2%;
    right: 1.5%;
    width: 10%;
    z-index: 1980;
  }
}